# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/

src/Charity/appsettings.Development.json

# exclude everything
Charities/
Items/

# exception to the rule
!Charities/.gitkeep
!Items/.gitkeep
